<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>

<body>
    <div>
        <h1>text formatting</h1>
        <p>This text is styled with some of
            the text formatting properties.
            The heading uses the text-align,
            text-transform, and color properties.
            <a target="_blank" href="tryit.asp?filename=trycss_text">
                "Try it Yourself"</a> link.
        </p>
        <input type="checkbox" id="myCheck" onmouseover="myFunction()" onclick="alert('click event occurred')">
    </div>
    <script type="text/javascript" src="/static/js/app.js"></script>
</body>

</html>